@charset "UTF-8";

html {
    font-size: 100%;
}
body {
    background-color: #f4f9ff;
    color: #2b2a27;
    font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Meiryo", sans-serif;
    font-size: 1.175rem;
}
img {
    max-width: 100%;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
h1 {
    margin-bottom: 20px;
}
a {
    text-decoration: none;
}

.content {
    text-align: center;
}

/*-----mainvisual-----*/
#mainvisual  img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center top;
    margin-bottom: 80px;
}

/*-----diary-----*/
#diary {
    margin-bottom: 80px;
}

/*-----recipe-img-----*/
#img {
    display: flex;
}
#img li {
    width: calc((100%/3));
}
#img li img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    vertical-align: bottom;
}

/*-----link-----*/
#link {
    margin: 60px auto;
}
#link a {
    display: inline-block;
    border: solid 1px #333;
    padding: 10px 30px;
    color: #333;
}
#link a:hover {
    opacity: 0.7;
}

/*-----fotter-----*/
footer a {
    color: #333;
    margin-left: 20px;
    border-bottom: #333 solid 1px;
}
footer a:hover {
    opacity: 0.7;
}
footer p {
    margin: 20px auto;
}

/*-----RWD-----*/
@media screen and (max-width: 834px) {
    #img {
        flex-direction: column;
    }
    #img li {
        width: 100%;
    }
    #img li img {
        margin-bottom: 5px;
    }
}