@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  color: #121212;
  font-family: 'Noto Sans JP', sans-serif;
}
a {
  color: #121212;
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
li {
  list-style: none;
}

.container {
  margin-left: 250px;
}
.wrapper {
  max-width: 900px;
  padding: 80px 20px;
  margin: 0 auto;
}
.site-title {
  width: 200px;
  line-height: 1px;
  margin-bottom: 30px;
}
.site-title a {
  display: block;
}

.sec-title {
  text-shadow: #fff 1px 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.75rem;
  margin-bottom: 60px;
  text-align: center;
}
.sec-title::before,
.sec-title::after {
  border-top: 1px solid;
  content: "";
  width: 28%;
}

/*-------------------------------------------
header
-------------------------------------------*/
#header {
  width: 250px;
  height: 100%;
  background-color: #fff;
  padding: 40px 50px 30px 30px;
  position: fixed;
  top: 0;
  overflow-y: auto;
}
#header .nav-menu {
  margin-bottom: 60px;
}
#header li {
  font-size: 0.875rem;
  padding: 20px 0;
}
.nav-menu span {
  font-size: 0.8em;
  opacity: 0.6;
}

/*-------------------------------------------
mainvisual
-------------------------------------------*/
#mainvisual {
  position: relative;
  width: 100%;
  height: 100vh;
}
#mainvisual .bg-video {
  position: fixed;
  left: -50px;
  top: -220px;
  z-index: -10;
}
#mainvisual .bg-img {
  position: fixed;
  left: 80px;
  top: 0px;
  z-index: -10;
}
#mainvisual .main-title {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
  color: #121212;
  text-shadow: #ecfbff 1px 1px;
  text-align: left;
  letter-spacing: 0.5em;
  position: absolute;
  left: 30px;
  top: 50px;
}
#mainvisual .main-title span {
  font-size: 0.9rem;
}
#mainvisual .main-text {
  width: 80%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
  color: #fff;
  text-shadow: #000 1px 1px;
  text-align: left;
  line-height: normal;
  position: absolute;
  right: 0;
  bottom: 0;
}

#mainvisual .main-text h2 span {
  font-size: 1.0rem;
}

/*-------------------------------------------
about
-------------------------------------------*/



/*-------------------------------------------
examination
-------------------------------------------*/
/* 背景に水色の透過グラデーションを設定 */
#examination {
  background: linear-gradient(rgba(0,0,0,0),rgba(114, 210, 255,0.4));
  color: #444444;
}
#examination .list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#examination .list li {
  width: 47%;
  margin-bottom: 50px;
  box-shadow: #000 1px 1px 5px;
  position: relative;
}
#examination .list li:last-child,
#examination .list li:nth-last-child(2) {
  margin-bottom: 0;
}
#examination .list li a {
  display: block;
}
#examination .list li:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
#examination .list li a::after {
  content: "";
  box-shadow: 0 -30px 15px -1px rgba(255, 255, 255, 0.6) inset;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#examination .list .name {
  color: #444444;
  /* text-shadow: #fff 1px 1px; */
  font-size: 1.2rem;
  position: absolute;
  bottom: 4px;
  left: 7px;
  z-index: 5;
}

/*-------------------------------------------
staff
-------------------------------------------*/
#staff {
  background: rgba(114, 210, 255, 0.4);
  color: #444444;
  padding-bottom: 80px;
}
#staff .list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
#staff .list li {
  width: 30%;
  font-size: 1.0rem;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px;
  text-align: center;
}
#staff .list li img {
  width: 100%;
  border: solid 1px #fff;
  border-radius: 50%;
  display: block;
  margin-bottom: 15px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
#staff .list li img:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
#staff .list .name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
}
#staff .list .Treatment,.hobby {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 10px;
}
#staff .list .Treatment-content {
  margin-bottom: 20px;
}


/*-------------------------------------------
Flow
-------------------------------------------*/
#flow {
  background-color: #fff;
  padding-top: 40px;
}
#flow .step {
  display: flex;
  margin-top: 60px;
}
#flow .figure {
  position: relative;
}
#flow .figure::before {
  content: "";
  width: 50px;
  height: 600px;
  background-color: #ffdd00;
  position: absolute;
  top: 0;
  left: 75px;
}

#flow .figure li {
  width: 200px;
  height: 80px;
  line-height: 80px;
  background-color: #414141;
  color: #fff;
  font-size: 0.875rem;
  margin-bottom: 60px;
  position: relative;
  text-align:center;
}

#flow .figure li::before {
  content: "";
  border-top: 30px solid #414141;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  position: absolute;
  top: 80px;
  right: 0;
  left: 0;
  margin: 0 auto;
}
#flow .figure li:last-child {
  margin-bottom: 0;
}
#flow .description {
  margin-left: 10%;
}
#flow .description dt {
  border-bottom: solid 1px #121212;
  font-size: 1.25rem;
  padding-bottom: 8px;
  margin-bottom: 10px;
  position: relative;
}
.description dt span {
  width: 35px;
  height: 35px;
  line-height: 35px;
  background-color: #414141;
  border-radius: 50%;
  color: #fff;
  display: block;
  font-size: 1rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: -45px;
}
#flow .description dd {
  margin-bottom: 43px;
}
#flow .description dd:last-child {
  margin-bottom: 0;
}

/*-------------------------------------------
reservation
-------------------------------------------*/
#reservation {
  background-color: #fff;
  padding-bottom: 80px;
  text-align: center;
}
#reservation .link {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-top: 60px;
}
#reservation .link .item {
  width: 30%;
  border: solid 1px #121212;
  display: block;
  font-size: 0.875rem;
  position: relative;
  padding: 50px 0;
  text-align: center;
  transition: 0.5s;
}
#reservation .link .item img{
  width: 64px;
  margin-bottom: 30px;
}
#reservation .link .item span{
  font-size: 1.3rem;
}
#reservation .link .item::before {
  content: "";
  border-top: 20px solid transparent;
  border-right: 20px solid #121212;
  position: absolute;
  right: 4px;
  bottom: 4px;
}
#reservation .link .item:hover {
  outline: solid 3px #121212;
}

/*-------------------------------------------
アクセス
-------------------------------------------*/
#access {
  background-color: #fff;
  padding-bottom: 80px;
  text-align: center;
}

/*-------------------------------------------
footer
-------------------------------------------*/
#footer {
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  padding: 20px 0;
}
#footer .menu {
  display: flex;
  justify-content: center;
  margin: 30px 0 60px 0;
}
#footer .menu li {
  border-right: solid 1px #fff;
  font-size: 0.875rem;
  padding: 0 20px;
}
#footer .menu li:last-child {
  border-right: none;
}
#footer .menu li a {
  color: #fff;
}
#footer .copyright {
  font-size: 0.75rem;
  text-align: center;
}

/*-------------------------------------------
トップへ戻るボタン
-------------------------------------------*/

#to-top {
  width: 50px;
  height: 50px;
  background-color: #121212;
  border: solid 1px #fff;
  border-radius: 50%;
  position: fixed;
  right: 25px;
  bottom: 25px;
}

#to-top::after {
  content: "";
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
  position: relative;
  left: 17px;
  bottom: 3px;
}

/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 960px) {
  .container {
    margin-left: 0;
  }
  .wrapper {
    padding: 60px 20px;
  }
  .site-title {
    width: 180px;
    margin-bottom: 0;
    position: relative;
    left: 18px;
    top: 10px;
  }
  .sec-title {
    font-size: 1.25rem;
    margin-bottom: 30px;
  }
  .sec-title::before,
  .sec-title::after {
    width: 18%;
  }

  /*-------------------------------------------
  header
  -------------------------------------------*/
  #header {
    width: 100%;
    height: 72px;
    padding: 0;
    z-index: 10;
  }

  #navi {
    width: 300px;
    background: #fff;
    padding: 25px;
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    opacity: 0;
    overflow-y: auto;
    transition: 0.5s;
    z-index: 20;
  }
  .open #navi {
    left: 0;
    opacity: 1;
  }
  #navi ul.nav-menu {
    margin-bottom: 30px;
  }
  #navi ul li {
    padding: 10px 0;
  }
  .hamburger {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: fixed;
    top: 22px;
    right: 18px;
    transition: 0.5s;
    z-index: 20;
  }
  .hamburger span {
    width: 30px;
    height: 2px;
    background-color: #121212;
    border-radius: 4px;
    display: block;
    position: absolute;
    left: 0;
    transition: 0.5s;
  }
  .hamburger span:nth-child(1) {
    top: 4px;
  }
  .hamburger span:nth-child(2) {
    top: 14px;
  }
  .hamburger span:nth-child(3) {
    bottom: 4px;
  }
  .open .hamburger span {
    background-color: #fff;
  }
  .open .hamburger span:nth-child(1) {
    transform: translateY(10px) rotate(-315deg);
  }
  .open .hamburger span:nth-child(2) {
    opacity: 0;
  }
  .open .hamburger span:nth-child(3) {
    transform: translateY(-10px) rotate(315deg);
  }
  #mask {
    display: none;
    transition: 0.5s;
  }
  .open #mask {
    width: 100%;
    height: 100%;
    background-color: #000;
    cursor: pointer;
    display: block;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }

  /*-------------------------------------------
  mainvisual
  -------------------------------------------*/
  /*
  スマホの場合は、動画が見切れすぎないよう高さを調整
  */
  #mainvisual {
    height: 80vh;
  }
  #mainvisual .bg-video {
    width: 100%;
    top: 72px;
    left: 0;
    margin: 0 auto;
  }
  #mainvisual .bg-img {
    width: 100%;
    top: 72;
    left: 0;
    margin: 0 auto;
  }

  /*-------------------------------------------
  examination
  -------------------------------------------*/
  #examination .list {
    flex-direction: column;
  }
  #examination .list li {
    width: 100%;
    margin-bottom: 30px;
  }
  #examination .list li:nth-last-child(2) {
    margin-bottom: 30px;
  }

  /*-------------------------------------------
  staff
  -------------------------------------------*/
  #staff {
    padding-bottom: 60px;
  }
  .list {
    flex-direction: column;
    align-items: center;
  }

  .list li {
    width: 60% !important;
    margin-bottom: 20px;
  }


  /*-------------------------------------------
  Flow
  -------------------------------------------*/
  #flow {
    padding-top: 0;
  }
  #flow .step {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  #flow .figure {
    margin-bottom: 80px;
  }
  /*
  図形下の黄色い棒線を中央に配置
  */
  #flow .figure::before {
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  #flow .figure li {
    width: calc(100vw - 80px);
  }

  #flow .figure li::before {
    border-left: calc(50vw - 40px) solid transparent;
    border-right: calc(50vw - 40px) solid transparent;
  }
  #flow .description {
    margin-left: 50px;
  }

  /*-------------------------------------------
  reservation
  -------------------------------------------*/
  #reservation {
    padding-bottom: 60px;
  }
  #reservation .link {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  #reservation .link .item {
    width: 60%;
    margin: 20px 0 0 0;
  }
  #reservation .link .item:first-child {
    margin-top: 0;
  }

  /*-------------------------------------------
  footer
  -------------------------------------------*/
  #footer .menu {
    flex-wrap: wrap;
  }
  #footer .menu li {
    margin-bottom: 10px;
  }
}