/* -----------------------------
リセットCSS
-------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif;
    background: #eceaff;
    color: #222;
    line-height: 1.6;
}
header, main, footer {
    max-width: 1400px;
    margin: 0 auto;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #333;
}
img {
    max-width: 100%;
    height: auto;
}

/*-----------------------------
 ヘッダー 
 ------------------------------*/
header {
    width: 1400px;
    height: 80px; /* ヘッダーの高さを指定（必要に応じて調整） */
    display: flex;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: rgba(255, 255, 255, 1); /* 半透明の背景色 */
}
header a {
    font-size: 14px;
    transition: font-size 0.3s;
}
header a:hover {
    color: #ff6600;
    font-size: 1.2rem;

}
#logo {
    width: 100px;
    margin: 0 60px 0 100px;
}
#logo span {
    opacity: 0;
    pointer-events: none;
    position: absolute;
}
nav {
    display: flex;
    align-items: center;
}
nav ul {
    display: flex;
    gap: 30px;
}
#contact {
    background-color: black;
    width: 200px;
    height: 80px;
}
#contact p {
    color: white;
    text-align: center;
    line-height: 80px;
    font-size: 18px;
}

/* --------------------------
メイン
-----------------------------*/
img#mainvisual {
    width: 100%;
    height: 600px;
    object-fit: cover;
    margin-bottom: 60px;
}
.section-content {
    width: 100%;
    padding: 60px 160px 0 100px;
    box-sizing: border-box;
}

.section-title span {
    font-size: 36px;
    letter-spacing: 0.5em;
}
.section-title hr {
    border: none;
    border-top: 1px solid #333;
    width: 40px;
    margin: 36px 0;
}
#news-item {
    display: flex;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    justify-content: space-between;
}
#news-item .item {
    position: relative;
    padding-left: 21px;
}
#news-item .item:first-child {
    padding-left: 0;
}
#news-item .item:not(:first-child)::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: #000;
}
.date-title {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
}
.date-title .title {
    background-color: black;
    color: white;
    padding: 0 6px;
}

/* --------------------------
レスポンシブ対応
----------------------------- */
@media screen and (max-width: 375px) {
    /* ヘッダー要素 */
    nav {
        flex-direction: column;
        align-items: flex-start; /* 左寄せ */
        padding-left: 16px; /* 左側に余白 */
    }
    #logo {
        margin: 16px 0 8px 0;
    }
    nav ul {
        flex-direction: row;
        gap: 30px;
        padding-left: 0; /* ul自体の左余白は不要 */
    }
    #contact {
        display: none;
    }
}
