/*================================
  Foundation - 基本的なスタイル
=================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", "Noto Serif JP", "Hiragino Mincho ProN", "Yu Mincho Medium", serif;
  font-size: 15px;
  letter-spacing: .05em;
  color: #333;
}

a {
  transition: opacity .3s;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
}

li {
  list-style: none;
}

/*================================
  Layout - レイアウト関連
=================================*/
.l-grid {
  display: grid;
  height: 100vh;
  position: relative;
  grid-template:
    "mv mc" 1fr /
    1fr 1fr;
}

.l-grid__mv {
  grid-area: mv;
}

.l-grid__header {
  grid-area: header;
}

.l-grid__mc {
  grid-area: mc;
}

.l-container {
  padding: 0 40px;
}

.l-main {
  position: relative;
}

#l-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  text-align: center;
  padding: 20px;
  background-color: transparent;
}

#l-fixed-about__header {
  position: fixed;
  top: -80px;
  width: 100%;
  padding: 20px;
  color: #333;
  background: #fff;
  box-sizing: border-box;
  transition: .5s;
}

#l-fixed-about__header.is-show-about {
  top: 0;
  z-index: 10;
}

/*================================
  Component - 再利用可能なコンポーネント
=================================*/
/* ナビゲーション */
#l-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.c-nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}

.c-nav__item {
  width: 100%;
  text-align: center;
  transition: padding 0.7s ease-out;
}

.c-nav__link {
  position: relative;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  color: #000;
  text-decoration: none;
  transition: color .3s;
  letter-spacing: .05em;
  padding: 10px 20px;
  background-image: linear-gradient(#272727, #272727);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 0 50px;
  transition: background-size 0.7s;
  border-bottom: 2px solid #000;
}
.c-nav__link:hover {
  color:#fff;
  background-position: bottom center;
  background-size: 100% 50px;
}

/* セクションタイトル */
.c-section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.75rem;
  margin-bottom: 60px;
  text-align: center;
}

.c-section-title::before,
.c-section-title::after {
  border-top: 1px solid;
  content: "";
  width: 30%;
}

/* キャッチコピー */
.c-catchcopy {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 400px;
  padding: 100px 20px;
}

.c-catchcopy__text {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.6em;
  line-height: 2;
  color: #121212;
  width: max-content;
  height: max-content;
}

/* スクロールインジケーター */
.c-scroll {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  writing-mode: vertical-rl;
  font-size: 16px;
  color: #333;
  z-index: 10;
}

.c-scroll::before {
  animation: scroll 2s infinite;
  background-color: #333;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  height: 50px;
  position: absolute;
  width: 1.3px;
  z-index: 2;
}

.c-scroll::after {
  background-color: #ccc;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  height: 50px;
  position: absolute;
  width: 1.3px;
  z-index: 1;
}

@keyframes scroll {
  0% {
    transform: translateX(-50%) scale(1, 0);
    transform-origin: center top;
  }
  50% {
    transform: translateX(-50%) scale(1, 1);
    transform-origin: center top;
  }
  51% {
    transform: translateX(-50%) scale(1, 1);
    transform-origin: center bottom;
  }
  100% {
    transform: translateX(-50%) scale(1, 0);
    transform-origin: center bottom;
  }
}

/* ワークス */
.c-works {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  padding: 0 20px;
}

.c-works__item {
  justify-self: start;
}

.c-works__img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  transition: transform .3s, box-shadow .3s;
}

.c-works__img:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.c-works__name {
  color: #333;
  margin: 20px 0;
  width: fit-content;
}

.c-works__title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.c-works__tag {
  display: block;
  width: fit-content;
  font-size: 14px;
  color: #666;
  border: #666 1px solid;
  border-radius: 20px;
  padding: 2px 10px;
  margin-right: 25px;
  margin-bottom: 10px;
}

/* フッター */
.c-footer {
  display: flex;
  background-color: #333;
  color: #fff;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 20px 0;
}

/*================================
  Project - ページ固有のスタイル
=================================*/

/* メインビジュアル */
.p-mv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.p-mv__container {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("../img/mv.jpg") no-repeat center/cover;
}

/* メインコンテンツ */
.p-mc {
  font-family: 'zen old mincho', serif;
  font-size: 20px;
  overflow: auto;
}

/* ヒーローエリアコンテンツ */
.p-hero {
  inset: 0 0 auto 0;
  height: 100vh;
  background-image: url(../img/about-mv.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

/* アバウトコンテンツ */
.p-aboutcontent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 80px 40px;
  margin: 0 auto;
}

.p-namespace {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 30%;
  margin-right: 2%;
}

.p-namae {
  font-size: 1.5rem;
  letter-spacing: 1.5rem;
}

.p-name {
  font-size: 2.5rem;
  font-weight: bold;
}
.p-name span {
  color: rgb(255, 162, 39);
}

.p-name__img {
  display: block;
  border-radius: 50%;
  width: 400px;
  height: 500px;
  margin-top: 20px;
}

.p-textspace {
  width: 60%;
}

.p-career {
  line-height: 2.2;
  font-size: calc(1.0vw + 0.5rem);
}
.p-career span {
  font-weight: bold;
  margin-right: 10px;
}

.p-about__title {
  display: flex;
  align-items: center;
  gap: 1em;
}
.p-about__title::before,
.p-about__title::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #333;
  display: block;
  align-self: center;
  margin: 0 0.5em;
}

.p-skils .p-about__title {
  margin-top: 40px;
}
.p-skils__item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin-top: 20px;
}
.p-skils__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p-skils__card img {
  width: 50%;
}

/*================================
  Utility - 汎用的なクラス
=================================*/
.u-visually-hidden-pc {
  display: none;
}

/*================================
  Media Queries - レスポンシブ対応
=================================*/
@media screen and (max-width: 768px) {
  /* Utility調整 */
  .u-visually-hidden-pc {
    display: block;
  }
  
  .u-visually-hidden-sp {
    display: none;
  }

  /* Layout調整 */
  .l-grid {
    display: grid;
    gap: 0;
    height: 100vh;
    grid-template: 
      "nav" 20px
      "mc" 1fr /
      1fr;
  }

  .l-grid__mv {
    display: none;
  }

  #l-header {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #fff;
  }

  #l-fixed-about__header {
    display: none;
  }

  /* Component調整 */
  #l-nav {
    width: 100%;
    height: 40%;
    background: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    opacity: 0;
    overflow-y: auto;
    transition: 0.5s;
    z-index: 20;
  }
  .c-open #l-nav {
    left: 0;
    opacity: 1;
  }
  .c-open .c-nav__list {
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
  }
  .c-open .c-nav__item {
    width: 100%;
    text-align: center;
  }
  .c-hamburger {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 22px;
    right: 18px;
    transition: 0.5s;
    z-index: 30;
  }
  .c-hamburger span {
    width: 30px;
    height: 2px;
    background-color: #121212;
    border-radius: 4px;
    display: block;
    position: absolute;
    left: 0;
    transition: 0.5s;
  }
  .c-hamburger span:nth-child(1) {
    top: 4px;
  }
  .c-hamburger span:nth-child(2) {
    top: 14px;
  }
  .c-hamburger span:nth-child(3) {
    bottom: 4px;
  }
  .c-open .c-hamburger span {
    background-color: #000;
  }
  .c-open .c-hamburger span:nth-child(1) {
    transform: translateY(10px) rotate(-315deg);
  }
  .c-open .c-hamburger span:nth-child(2) {
    opacity: 0;
  }
  .c-open .c-hamburger span:nth-child(3) {
    transform: translateY(-10px) rotate(315deg);
  }
  #mask {
    display: none;
    transition: 0.5s;
  }
  .c-open #mask {
    width: 100%;
    height: 100%;
    background-color: #000;
    cursor: pointer;
    display: block;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }

  .c-catchcopy {
    margin-bottom: 250px;
    padding: 40px 10px;
  }

  .c-catchcopy__text {
    font-size: 1.5rem;
    letter-spacing: 0.3em;
    margin-bottom: 50px;
  }

  .c-section-title {
    font-size: 1.5rem;
    margin-bottom: 40px;
  }

  .c-works {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 0;
  }

  .c-works__item {
    width: 100%;
  }

  .c-works__name {
    text-align: center;
    margin: 15px auto;
  }

  .c-works__title {
    font-size: 14px;
  }

  .c-works__tag {
    display: inline;
    font-size: 12px;
    padding: 1px 8px;
    margin: 0 30px;
  }

  .p-aboutcontent {
    flex-direction: column;
    padding: 40px 20px;
    height: auto;
  }
  .p-namespace {
    width: 100%;
    margin: 0 0 30px 0;
    text-align: center;
  }
  .p-namespace img {
    padding: 20px;
  }
  .p-textspace {
    width: 100%;
  }
  .p-about__title {
    font-size: 1.5rem;
    margin: 30px 0;
  }
  .p-career {
    font-size: calc(1.0vw + 1.0rem);
  }
  .p-career span {
    display: block;
    margin-top: 20px;
  }
  .p-skils__item {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .c-footer {
    margin-top: 30px;
    padding: 15px 0;
    font-size: 12px;
  }

  /* Project調整 */
  .p-mc {
    padding: 20px 0;
    font-size: 18px;
  }
}