* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat","Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size: 15px;
  letter-spacing: .05em;
  color: #333;
}
a {
  transition: opacity .3s;
  text-decoration: none;
  color: #1ca9e3;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
}

li {
  list-style: none;
}

.pc-only {
  display: block;
}
.sp-only {
  display: none;
}

/*--------------------------------
 layout
---------------------------------*/
.layout {
  display: grid;
  gap: 10px;
  height: 100vh;
  grid-template: 
    "header header" 80px
    "mv mc" 1fr
    "footer footer" 60px /
    1fr 1fr;
}

/*--------------------------------
 header
---------------------------------*/
.header {
  grid-area: header;
  display: flex;
  align-items:center;
  
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.header .logo img {
  height: 80px;
}

/*--------------------------------
 mainvisual
---------------------------------*/
.mv {
  grid-area: mv;
  background-color: #fc7a7a;
  padding: 60px 0;
  text-align: center;
  font-size: 24px;
  color: #fff;
}

/*--------------------------------
 maincontent
---------------------------------*/
.mc {
  grid-area: mc;
  background-color: #88ffac;
  padding: 40px 0;
  text-align: center;
  font-size: 24px;
  overflow: auto;
  color: #fff;
  }

/*--------------------------------
 footer
---------------------------------*/
.footer {
  grid-area: footer;
  background-color: #333;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  color: #fff;
}