* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat","Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size: 15px;
  letter-spacing: .05em;
  color: #333;
}
a {
  transition: opacity .3s;
  text-decoration: none;
  color: #1ca9e3;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
}

li {
  list-style: none;
}

.pc-only {
  display: block;
}
.sp-only {
  display: none;
}

/*--------------------------------
 layout
---------------------------------*/
.layout {
  display: grid;
  gap: 10px;
  height: 100vh;
  grid-template: 
    "nav mc" 80px
    "mv mc" 1fr
    "footer footer" 60px /
    1fr 1fr;
}

/*--------------------------------
 nav
---------------------------------*/
.gnav {
  grid-area: nav;
  display: flex;
  background-color: #f7f7f7;
  justify-content: right;
  align-items: center;
}

.gnav-list {
  display: flex;
  gap: 60px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.gnav-item a {
  position: relative;
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 0;
  color: #333;
  text-decoration: none;
  transition: color .3s;
  letter-spacing: .05em;
}

.gnav-item a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: currentColor;
  transform: translateX(-50%);
  transition: width .3s;
}

.gnav-item a:hover::after {
  width: 100%;
}

/*--------------------------------
 mainvisual
---------------------------------*/
.mv {
  grid-area: mv;
  background-color: #fc7a7a;
  padding: 60px 0;
  text-align: center;
  font-size: 24px;
  color: #fff;
}

/*--------------------------------
 maincontent
---------------------------------*/
.mc {
  grid-area: mc;
  background-color: #88ffac;
  padding: 40px 0;
  text-align: center;
  font-size: 24px;
  overflow: auto;
  color: #fff;
  }

/*--------------------------------
 footer
---------------------------------*/
.footer {
  grid-area: footer;
  background-color: #333;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  color: #fff;
}